/* #App {
  display:flex;
} */

.indexAndDisplay {
  display:flex;
}

.videoFilter {
  text-align: center;
}

.videoIndex {
  height: 10vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-flex-start;
  height: 100vh;
}

.videoDisplay {
  width: 75vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoDisplay iframe {
  width: 50vw;
  height: 50vh;
}
